@import "compass";
@import "theme_variables";
#my-account {
	.addresses-lists {
		margin-bottom: 30px;
	}
	ul.myaccount-link-list {
		li {
			overflow: hidden;
			width: 33.33333%;
		    float: left;
		    padding: 10px;
		    @media (max-width: $screen-xs) {  // max 480px
		    	width:100%;
		    }
			a {
				display: block;
				overflow: hidden;
				color: #555454;
				text-decoration: none;
				position: relative;
				border: 1px solid #ddd;
				i {
					font-size: 25px;
					color: #333;
					position: absolute;
					left: 0;
					top: 0;
					width: 52px;
					height: 100%;
					padding: 10px 0 0 0;
					text-align: center;
				}
				span {
					display: block;
					padding: 13px 15px 15px 17px;
					overflow: hidden;
					margin-left: 35px;
				}
				&:hover {
					color:$link-hover-color;
					filter: none;
					background: #fff;
					border-color: $link-hover-color;
					i{
						color:$link-hover-color
					}
				}
			}
		}
	}
}