img/p/*
cache/*
modules/authorizeaim/log/*
*.db
tools/smarty/compile/*
classes/log/*
themes/uniwigs2016/.sass-cache/*
themes/uniwigs2016-m/.sass-cache/*
themes/vivid/.sass-cache/*
config/*
xhprof_html/*
xhprof_lib/*
upload/*
log/*
apitools/tagedit/complile/*