img/p/*
img/co/*
img/tmp/*
cache/
config/
log/
*.db
tools/smarty/compile/*
.sass-cache/
config/*
xhprof_html/*
xhprof_lib/*
upload/*
apitools/tagedit/complile/*
apitools/config.php
modules/homeslider/images/*
robots.txt
*.xml
.htaccess
themes/uniwigs2016/cache/*