<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTP_HOST} ^uniwigs.com$
RewriteRule ^.*$ http://www.uniwigs.com/$0 [L,R=301]

RewriteCond %{HTTP_HOST} ^vivid.uniwigs.com$
RewriteRule ^.*$ http://lavivid.uniwigs.com/$0 [L,R=301]

RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^la-vivid/(.*)$ http://lavivid.uniwigs.com/lavivid/$1 [L,R=301]

RewriteCond %{HTTP_USER_AGENT} "android|blackberry|googlebot-mobile|iemobile|iphone|ipod|palmos|webos|UCBrowser|QQBrowser|wap" [NC]
RewriteCond %{HTTP_HOST} !lavivid.uniwigs.com$ [NC]
RewriteCond %{HTTP_HOST} !m.uniwigs.com$ [NC]
RewriteRule ^.*$ http://m.uniwigs.com/$0 [L,R=302]


RewriteRule ^human-hair-wigs$ /102-human-hair-wigs [L,R=301]
RewriteRule ^synthetic-wigs$ /101-synthetic-wigs [L,R=301]
RewriteRule ^hair-extensions$ /103-hair-extensions [L,R=301]
RewriteRule ^clip-in-hair-extensions$ /108-clip-in-hair-extensions [L,R=301]
RewriteRule ^hair-pieces$ /104-hair-pieces [L,R=301]
RewriteRule ^half-wigs$ /111-half-wigs [L,R=301]
RewriteRule ^bangs$ /110-bangs [L,R=301]
RewriteRule ^ponytails$ /112-ponytails [L,R=301]
RewriteRule ^care-products$ /105-care-products [L,R=301]
RewriteRule ^tag/human-hair-lace-wigs$ /40452-human-hair-lace-wigs [L,R=301]
RewriteRule ^featured/luxury-human-hair$ /tag/luxury-human-hair [L,R=301]
RewriteRule ^tag/celebrity-hairstyles$ /40453-celebrity-hairstyles [L,R=301]
RewriteRule ^featured/human-hair-wigs-customization$ /tag/human-hair-wigs-customization [L,R=301]
RewriteRule ^tag/classic-wigs-synthetic-wigs$ /40455-classic-wigs [L,R=301]
RewriteRule ^tag/trendy-wigs$ /40459-trendy-wigs [L,R=301]
RewriteRule ^tag/clearance-synthetic-wigs$ /40456-clearance-wigs [L,R=301]
RewriteRule ^clip-in-hair-extensions$ /108-clip-in-hair-extensions [L,R=301]
RewriteRule ^featured/invisible-uni-extensions$ /40439-flip-in-hair-extensions [L,R=301]
RewriteRule ^tag/ombre-hair-extensions$ /40457-ombre-hair-extensions [L,R=301]
RewriteRule ^event/diy-dyed-extensions$ /tag/diy-dyed-extensions [L,R=301]
RewriteRule ^tag/mono-hair-pieces$ /40458-mono-hair-pieces [L,R=301]
RewriteRule ^tag/human-hair-full-lace-wigs$ /40446-full-lace-wigs [L,R=301]
RewriteRule ^tag/human-hair-lace-front-wigs$ /40447-lace-front-wigs [L,R=301]
RewriteRule ^tag/glueless-full-lace-wigs$ /40448-glueless-full-lace-wigs [L,R=301]
RewriteRule ^tag/monofilament-human-hair-wigs$ /40449-monofilament-wigs [L,R=301]
RewriteRule ^tag/silk-top-lace-wigs$ /40450-silk-top-lace-wigs [L,R=301]
RewriteRule ^tag/jewish-wigs$ /40451-jewish-wigs [L,R=301]
RewriteRule ^featured/real-human-hair$ /tag/real-human-hair [L,R=301]
RewriteRule ^featured/african-american-human-hair-wigs$ /tag/african-american-human-hair-wigs [L,R=301]
RewriteRule ^top-hairpieces$ /116-top-hairpieces [L,R=301]
RewriteRule ^content/contact-us$ /contact-us [L,R=301]
RewriteRule ^human-hair-wigs/40087-kris-human-hairsynthetic-blend-mono-wig.html$ /synthetic-wigs/40087-kris-human-hairsynthetic-blend-mono-wig.html [L,R=301]
RewriteRule ^human-hair-wigs/40092-jade-human-hairsynthetic-blend-lace-frontmono-wig.html$ /synthetic-wigs/40092-jade-human-hairsynthetic-blend-lace-frontmono-wig.html [L,R=301]
RewriteRule ^human-hair-wigs/40094-griffin-human-hairsynthetic-blend-mono-wig.html$ /synthetic-wigs/40094-griffin-human-hairsynthetic-blend-mono-wig.html [L,R=301]
RewriteRule ^clip-in-hair-extensions/40781-20-triple-ombre-color-9-pieces-body-wave-clip-in-indian-remy-human-hair-extension-e920001bw-g-t1b-4-18.html$ /hair-extensions/40781-20-triple-ombre-color-9-pieces-body-wave-clip-in-indian-remy-human-hair-extension-e920001bw-g-t1b-4-18.html [L,R=301]
RewriteRule ^synthetic-wigs/41241-lavender-synthetic-lace-front-wig.html$ /synthetic-wigs/41236-lavender-synthetic-lace-front-wig.html [L,R=301]
RewriteRule ^/hair-pieces/41243-upgrade-charm-remy-human-hair-top-hairpiece.html$ /hair-pieces/41235-upgrade-charm-remy-human-hair-top-hairpiece.html [L,R=301]


RewriteRule ^(featured|event|tag)/(.*)$ index.php?controller=tag&url_key=$2 [L]

RewriteRule ^customer-show$ extra/customer-show.php [L]
RewriteRule ^salon$ extra/salon.php [L]
RewriteRule ^custom-order$ extra/custom-order.php [L]


</IfModule>

# ~~start~~ Do not remove this comment, Prestashop will keep automatically the code outside this comment when .htaccess will be generated again
# .htaccess automaticaly generated by PrestaShop e-commerce open-source solution
# http://www.prestashop.com - http://www.prestashop.com/forums

<IfModule mod_rewrite.c>
<IfModule mod_env.c>
SetEnv HTTP_MOD_REWRITE On
</IfModule>

RewriteEngine on


#Domain: www.uniwigs.com
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule . - [E=REWRITEBASE:/]
RewriteRule ^api$ api/ [L]

RewriteRule ^api/(.*)$ %{ENV:REWRITEBASE}webservice/dispatcher.php?url=$1 [QSA,L]

# Images
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$1$2$3.jpg [L]
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$1$2$3$4.jpg [L]
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$1$2$3$4$5.jpg [L]
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$1$2$3$4$5$6.jpg [L]
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$1$2$3$4$5$6$7.jpg [L]
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$6/$1$2$3$4$5$6$7$8.jpg [L]
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$6/$7/$1$2$3$4$5$6$7$8$9.jpg [L]
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$6/$7/$8/$1$2$3$4$5$6$7$8$9$10.jpg [L]
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^c/([0-9]+)(\-[\.*_a-zA-Z0-9-]*)(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/c/$1$2$3.jpg [L]
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^c/([a-zA-Z_-]+)(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/c/$1$2.jpg [L]
# AlphaImageLoader for IE and fancybox
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^images_ie/?([^/]+)\.(jpe?g|png|gif)$ js/jquery/plugins/fancybox/images/$1.$2 [L]

# Dispatcher
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^.*$ - [NC,L]
RewriteCond %{HTTP_HOST} ^www.uniwigs.com$
RewriteRule ^.*$ %{ENV:REWRITEBASE}index.php [NC,L]


#Domain: m.uniwigs.com
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule . - [E=REWRITEBASE:/]
RewriteRule ^api$ api/ [L]

RewriteRule ^api/(.*)$ %{ENV:REWRITEBASE}webservice/dispatcher.php?url=$1 [QSA,L]

# Images
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$1$2$3.jpg [L]
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$1$2$3$4.jpg [L]
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$1$2$3$4$5.jpg [L]
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$1$2$3$4$5$6.jpg [L]
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$1$2$3$4$5$6$7.jpg [L]
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$6/$1$2$3$4$5$6$7$8.jpg [L]
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$6/$7/$1$2$3$4$5$6$7$8$9.jpg [L]
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$6/$7/$8/$1$2$3$4$5$6$7$8$9$10.jpg [L]
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^c/([0-9]+)(\-[\.*_a-zA-Z0-9-]*)(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/c/$1$2$3.jpg [L]
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^c/([a-zA-Z_-]+)(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/c/$1$2.jpg [L]
# AlphaImageLoader for IE and fancybox
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^images_ie/?([^/]+)\.(jpe?g|png|gif)$ js/jquery/plugins/fancybox/images/$1.$2 [L]

# Dispatcher
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^.*$ - [NC,L]
RewriteCond %{HTTP_HOST} ^m.uniwigs.com$
RewriteRule ^.*$ %{ENV:REWRITEBASE}index.php [NC,L]


#Domain: lavivid.uniwigs.com
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule . - [E=REWRITEBASE:/]
RewriteRule ^api$ api/ [L]

RewriteRule ^api/(.*)$ %{ENV:REWRITEBASE}webservice/dispatcher.php?url=$1 [QSA,L]

# Images
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$1$2$3.jpg [L]
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$1$2$3$4.jpg [L]
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$1$2$3$4$5.jpg [L]
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$1$2$3$4$5$6.jpg [L]
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$1$2$3$4$5$6$7.jpg [L]
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$6/$1$2$3$4$5$6$7$8.jpg [L]
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$6/$7/$1$2$3$4$5$6$7$8$9.jpg [L]
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$6/$7/$8/$1$2$3$4$5$6$7$8$9$10.jpg [L]
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^c/([0-9]+)(\-[\.*_a-zA-Z0-9-]*)(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/c/$1$2$3.jpg [L]
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^c/([a-zA-Z_-]+)(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/c/$1$2.jpg [L]
# AlphaImageLoader for IE and fancybox
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^images_ie/?([^/]+)\.(jpe?g|png|gif)$ js/jquery/plugins/fancybox/images/$1.$2 [L]

# Dispatcher
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^.*$ - [NC,L]
RewriteCond %{HTTP_HOST} ^lavivid.uniwigs.com$
RewriteRule ^.*$ %{ENV:REWRITEBASE}index.php [NC,L]
</IfModule>

AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType application/x-font-woff .woff
AddType application/x-font-woff .woff2
<IfModule mod_headers.c>
	<FilesMatch "\.(ttf|ttc|otf|eot|woff|svg)$">
		Header add Access-Control-Allow-Origin "*"
	</FilesMatch>
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType text/css "access plus 1 week"
	ExpiresByType text/javascript "access plus 1 week"
	ExpiresByType application/javascript "access plus 1 week"
	ExpiresByType application/x-javascript "access plus 1 week"
	ExpiresByType image/x-icon "access plus 1 year"
	ExpiresByType image/svg+xml "access plus 1 year"
	ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
	ExpiresByType application/font-woff "access plus 1 year"
	ExpiresByType application/x-font-woff "access plus 1 year"
	ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
	ExpiresByType font/opentype "access plus 1 year"
	ExpiresByType font/ttf "access plus 1 year"
	ExpiresByType font/otf "access plus 1 year"
	ExpiresByType application/x-font-ttf "access plus 1 year"
	ExpiresByType application/x-font-otf "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
	Header unset Etag
</IfModule>
FileETag none
<IfModule mod_deflate.c>
	<IfModule mod_filter.c>
		AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript application/x-javascript font/ttf application/x-font-ttf font/otf application/x-font-otf font/opentype
	</IfModule>
</IfModule>

#If rewrite mod isn't enabled
ErrorDocument 404 /index.php?controller=404

# ~~end~~ Do not remove this comment, Prestashop will keep automatically the code outside this comment when .htaccess will be generated again

