@import "compass";
@import "theme_variables";
/*** ESSENTIAL STYLES ***/
#block_top_menu {
	float:left;
	font-size: 14px;
	margin-left:20px;
	@media (max-width: $screen-sm) {// max 768px
		margin-left:0;
	}
	.uk-dropdown{
		border-top: 1px solid #eee;
		.col-sm-3{
			width:20%;
			p{
				font-style: italic;
				padding-top:5px;
				font-size:13px;
			}
			.uk-nav-header{
				font-size:14px;
			}
		}
	}
}