/**************************************************************
					CMS Pages Styles
***************************************************************/
#cms #center_column {
  /* color_tooltip */
  /*============  Cms coupons   ================*/ }
  #cms #center_column .list-group li {
    border-bottom: 1px solid #eee; }
    #cms #center_column .list-group li a {
      display: block;
      padding: 10px 0; }
      #cms #center_column .list-group li a:before {
        content: "\f105";
        display: inline;
        font-family: "FontAwesome";
        color: #333;
        padding-right: 8px; }
  #cms #center_column .block-cms {
    padding-bottom: 20px; }
  #cms #center_column .doc-con .how-to-videos li {
    padding: 15px;
    height: 220px; }
    #cms #center_column .doc-con .how-to-videos li img {
      width: 100%; }
  #cms #center_column .doc-con li {
    padding: 6px 0; }
    #cms #center_column .doc-con li.disc {
      list-style-type: disc; }
    #cms #center_column .doc-con li img {
      margin: 0; }
  #cms #center_column .doc-con .uk-accordion h4 {
    cursor: pointer; }
    #cms #center_column .doc-con .uk-accordion h4.uk-active {
      color: #d32676; }
  #cms #center_column .doc-con .uk-tab > li {
    padding: 0;
    font-size: 1.1em;
    font-weight: bold; }
  #cms #center_column .doc-con .color_con dd {
    overflow: hidden; }
    #cms #center_column .doc-con .color_con dd a {
      float: left;
      width: 20%;
      padding: 10px 10px 10px 0; }
  #cms #center_column .doc-con .guide_dl {
    overflow: hidden; }
    #cms #center_column .doc-con .guide_dl .guide_them {
      float: left;
      width: 20%;
      padding: 0 10px; }
  #cms #center_column h1 {
    margin-bottom: 25px; }
  #cms #center_column h3 {
    border-bottom: none;
    padding: 10px 0; }
  #cms #center_column p {
    line-height: 1.8; }
  #cms #center_column .how-to-videos .highslide {
    position: relative;
    display: block; }
    #cms #center_column .how-to-videos .highslide:before {
      position: absolute;
      right: 10%;
      top: 6%;
      font-size: 1.3em;
      color: #FFF;
      font-family: "FontAwesome";
      display: inline-block;
      content: "\f03d";
      opacity: 1;
      filter: alpha(opacity=100);
      z-index: 2; }
    #cms #center_column .how-to-videos .highslide:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ef3386;
      opacity: 0;
      filter: alpha(opacity=0); }
    #cms #center_column .how-to-videos .highslide:hover:after {
      opacity: .7;
      filter: alpha(opacity=70);
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
  #cms #center_column .list-1 li {
    padding: 4px 0 6px 0;
    font-weight: bold;
    color: #46a74e;
    border-top: 1px solid #d4d4d4; }
    #cms #center_column .list-1 li:first-child {
      border: none; }
    #cms #center_column .list-1 li em {
      font-size: 20px;
      line-height: 20px;
      padding-right: 15px;
      vertical-align: -2px; }
  #cms #center_column img {
    margin: 4px 0 17px;
    max-width: 100%;
    height: auto; }
  #cms #center_column .testimonials {
    border: 1px solid;
    border-color: #dfdede #d2d0d0 #b0afaf #d2d0d0;
    margin: 4px 0 13px 0;
    position: relative; }
    #cms #center_column .testimonials .inner {
      border: 1px solid #fff;
      padding: 19px 18px 11px 18px;
      background: #fbfbfb;
      background: -moz-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #fefefe));
      background: -webkit-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
      background: -o-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
      background: -ms-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
      background: linear-gradient(to bottom, #fbfbfb 0%, #fefefe 100%); }
      #cms #center_column .testimonials .inner span {
        text-indent: -5000px;
        display: inline-block;
        width: 20px;
        height: 15px; }
        #cms #center_column .testimonials .inner span.before {
          background: url(../img/bl-before-bg.png) no-repeat;
          margin-right: 8px; }
        #cms #center_column .testimonials .inner span.after {
          background: url(../img/bl-after-bg.png) no-repeat;
          margin-left: 8px; }
    #cms #center_column .testimonials:after {
      content: ".";
      display: block;
      text-indent: -5000px;
      position: absolute;
      bottom: -16px;
      left: 21px;
      width: 15px;
      height: 16px;
      background: url(../img/testimon-after.gif) no-repeat; }
    #cms #center_column .testimonials + p {
      padding-left: 45px;
      margin-bottom: 18px; }
  #cms #center_column p.bottom-indent {
    margin-bottom: 18px; }
  #cms #center_column #admin-action-cms {
    background: none repeat 0 0 #F6F6F6;
    border: 1px solid #d2d0d0;
    padding: 10px; }
    #cms #center_column #admin-action-cms p {
      margin: 0; }
      #cms #center_column #admin-action-cms p span {
        display: block;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #333; }
      #cms #center_column #admin-action-cms p .button {
        font: 700 17px/21px "Open Sans", sans-serif;
        padding: 0;
        border: 1px solid;
        padding: 10px 14px;
        display: inline-block; }
        #cms #center_column #admin-action-cms p .button.publish_button {
          color: #fff;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
          border-color: #0079b6 #006fa8 #012740 #006fa8;
          background: #009ad0;
          background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
          background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%);
          background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%);
          background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%);
          background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0); }
          #cms #center_column #admin-action-cms p .button.publish_button:hover {
            border-color: #01314e #004b74 #0079b6 #004b74;
            filter: none;
            background: #0084bf; }
        #cms #center_column #admin-action-cms p .button.lnk_view {
          color: #333;
          text-shadow: 1px 1px white;
          border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
          background: #f7f7f7;
          background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
          background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
          background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
          background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
          background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0); }
          #cms #center_column #admin-action-cms p .button.lnk_view:hover {
            border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
            filter: none;
            background: #e7e7e7; }
  #cms #center_column #color_tooltip {
    position: absolute;
    background: #fff;
    padding: 1px;
    border: 2px solid #333;
    display: none;
    color: #fff;
    box-shadow: 0 0 5px #333; }
    #cms #center_column #color_tooltip img {
      display: block; }
  #cms #center_column .color_con ul {
    overflow: hidden; }
    #cms #center_column .color_con ul li {
      float: left;
      width: 20%; }
  #cms #center_column .coupons-offer {
    min-height: 120px;
    margin: 4px -18px 0 -8px;
    position: relative;
    border: 1px solid #D9D9D6;
    border-radius: 3px;
    background-color: #FFF;
    color: #333; }
  #cms #center_column .offer-top {
    padding: 18px 18px 18px 8px; }
  #cms #center_column .anchor {
    display: block;
    float: left;
    margin-right: 3.15789%;
    width: 11.57895%;
    text-align: center; }
  #cms #center_column .anchor-image {
    float: right;
    height: 72px;
    width: 72px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    padding-top: 40px;
    border: 1px solid;
    border-radius: 6px 6px 0 0;
    position: relative;
    text-transform: uppercase;
    color: #EF3386;
    border-color: #EF3386; }
  #cms #center_column .anchor-image.no-image {
    padding-top: 12px;
    line-height: 18px; }
  #cms #center_column .anchor-big-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 1; }
  #cms #center_column .anchor-med-text {
    font-size: 20px;
    display: block;
    line-height: 1; }
  #cms #center_column .additional-anchor {
    line-height: 1.3;
    width: 72px;
    border: 1px solid;
    border-top: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0 0 4px 4px;
    padding: 3px 6px;
    background-color: #EF3386;
    border-color: #EF3386;
    float: right; }
  #cms #center_column .js-info {
    display: block;
    float: left;
    margin-right: 3.15789%;
    width: 61%;
    word-wrap: break-word;
    position: relative;
    font-size: 14px;
    color: #666; }
  #cms #center_column .h1.title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 4px;
    margin-top: 4px;
    color: #333;
    font-weight: 700; }
  #cms #center_column .js-desc {
    line-height: 22px;
    font-size: 14px;
    color: #666; }
  #cms #center_column .actions {
    display: block;
    float: left;
    margin-right: 3.15789%;
    width: 17%;
    margin-right: 0;
    margin-top: 30px; }
  #cms #center_column .code-cover {
    width: 122px;
    height: 36px;
    font-weight: bold;
    color: #FFF;
    background: #08B4DF;
    text-decoration: none;
    line-height: 2.8;
    white-space: nowrap;
    text-align: center;
    display: block;
    font-size: 13px;
    border-radius: 3px;
    border: 0; }
  #cms #center_column .code-cover:hover {
    color: #fff;
    background: #1CC2EC;
    text-decoration: none; }

/*# sourceMappingURL=cms.css.map */
