@import "compass";
@import "theme_variables";
#contact-link {
	float: right;
	@media (max-width: $screen-xs - 1) {
		text-align: center;
	}
	@media (max-width: $screen-sm) {
		display: none;
	}
	a {
		display: block;
		padding: 8px 10px 11px 10px;
		cursor: pointer;
		line-height:18px;
		@media (max-width: $screen-xs - 1) {
			font-size: 11px;
			padding-left: 5px;
			padding-right: 5px;
		}
		&:hover, &.active {
			color:$link-hover-color;
		}
	}
	&.is_logged {
		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}
}
#contact_block {
	@media (max-width: $screen-xs-max) { // max 767px
		margin-bottom: 20px;
	}
	.label {
		display: none
	}
	.block_content {
		color: #888888;
	}
	p {
		margin-bottom: 4px;
	}
	p.tel {
		font: 400 17px/21px $font-family;
		color: $base-text-color;
		margin-bottom: 6px;
		i {
			font-size: 25px;
			vertical-align: -2px;
			padding-right: 10px;
		}
	}
}
