@import "compass";
@import "theme_variables";
#search_block_top {
	#searchbox {
		width:90vw;
		min-width: 294px;
		margin: 0 auto;
    	padding-top: 60px;
	}
	.btn.button-search {
		width: 16%;
		height: 50px;
		line-height: 1.4;
		border: none;
		background: none;
		border-radius: 0;
		display: inline-block;
		position: absolute;
		bottom: 0;
		left:0;
		span {
			display: none;
		}
		&:before {
			content: "\e621";
			display: block;
			font-family: $font-icon;
			font-size: 26px;
			width: 100%;
			color:#222;
			text-align: left;
		}
		&:hover {
			color: #6f6f6f
		}
	}
	.form-control:focus{
		box-shadow:none;
		border-color:#fff;
		color:#222;
	}
	#search_query_top {
		width:100%;
		display: inline-block;
		margin: 0;
		border-bottom: 2px solid #222;
		border-top:0 none;
		border-left:0 none;
		border-right:0 none;
		padding-left: 50px;
		font-size:1.5em
	}
}
.search-top{
	display: inline-block;
    height: 100%;
    position: absolute;
    width: 46px;
    font-size: 2em;
    right: 46px;
    top: 0;
    a{
    	color: #EF3386;
	    display: block;
	    cursor: pointer;
	    width: 100%;
	    height: 100%;
    	&:before{
    		content: "\e621";
			display: block;
			font-family: $font-icon;
			position: absolute;
			top: 13px;
			font-size: 26px;
			width: 100%;
    	}
    	&:hover{
    		background: #f4f4f4;
    		color: #515151;
    	}
    }
}
.ac_results {
	background: $light-background;
	width: 100%;
	ul{
		li {
			padding: 7px 0;
			font-weight: normal;
			color: #686666;
			font-size: 1.2em;
			line-height: 20px;
			&.ac_odd {
				background: $light-background;
			}
			&:hover, &.ac_over {
				background: $base-box-bg;
			}
		}
	}
}

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.button.button-small {
		float:left;
		i {
			margin-right:0;
		}
	}
}

#order-opc .search-top,
#address .search-top,
#addresses .search-top,
#my-account .search-top,
#history .search-top,
#module-blockwishlist-mywishlist .search-top,
#order-slip .search-top,
#discount .search-top,
#order-follow .search-top,
#identity .search-top,
#module-loyalty-default .search-top
{
	display: none;
}