@import "compass";
@import "theme_variables";

/**************************************************************
					CMS Pages Styles
***************************************************************/

#cms {
	#center_column {
		.list-group li{
			border-bottom:1px solid #eee;
			a{
				display:block;
				padding:10px 0;
				&:before{
					content: "\f105";
					display: inline;
					font-family: $font-icon;
					color: #333;
					padding-right: 8px;
				}
			}
		}
		.block-cms {
			padding-bottom: 20px;
		}
		.doc-con {
			.how-to-videos{
				li{
					padding:15px;
					height:220px;
					img{
						width:100%;
					}
				}
			}
			ul.disc{
		    	list-style-type: disc;
		    }
			li {
			    padding: 6px 0;
			    img{
			    	margin:0;
			    }
			}
			.uk-accordion{
				h4{
					cursor: pointer;
					&.uk-active{
						color: #d32676;
					}
				}
				
			}
			.uk-tab > li{
				padding:0;
				font-size: 1.1em;
    			font-weight: bold;
			}
			.color_con dd {
				overflow:hidden;
				a{
					float:left;
					width:20%;
					padding:10px 10px 10px 0;
				}
			}
			.guide_dl {
				overflow: hidden;
				.guide_them {
				    float: left;
				    width: 20%;
				    padding: 0 10px;
				}
			}
			
		}
		h1 {
			margin-bottom: 25px;
		}
		h3 {
			border-bottom: none;
			padding: 10px 0;
		}
		p {
			line-height: 1.8;
		}
		.how-to-videos {
			.highslide {
			    position: relative;
			    display: block;
			    &:before {
				    position: absolute;
				    right: 10%;
				    top: 6%;
				    font-size: 1.3em;
				    color: #FFF;
				    font-family: $font-icon;
				    display: inline-block;
				    content: "\f03d";
				    opacity: 1;
				    filter: alpha(opacity=100);
				    z-index: 2;
				}
				&:after{
					content: "";
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    height: 100%;
				    background-color: #ef3386;
				    opacity: 0;
				    filter: alpha(opacity=0);
				}
				&:hover:after{
					opacity: .7;
				    filter: alpha(opacity=70);
				    -moz-transition: all 0.5s;
				    -o-transition: all 0.5s;
				    -webkit-transition: all 0.5s;
				    transition: all 0.5s;
				}
			}
		}
		.list-1 {
			li {
				padding: 4px 0 6px 0;
				font-weight: bold;
				color: #46a74e;
				border-top: 1px solid $base-border-color;
				&:first-child {
					border: none;
				}
				em {
					font-size: 20px;
					line-height: 20px;
					padding-right: 15px;
					vertical-align: -2px;
				}
			}
		}
		img {
			margin: 4px 0 17px;
			max-width: 100%;
			height: auto;
		}
		.testimonials {
			border: 1px solid;
			border-color: #dfdede #d2d0d0 #b0afaf #d2d0d0;
			margin: 4px 0 13px 0;
			position: relative;
			.inner {
				border: 1px solid $light-border-color;
				padding: 19px 18px 11px 18px;
				background: rgb(251,251,251);
				background: -moz-linear-gradient(top,  rgba(251,251,251,1) 0%, rgba(254,254,254,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(100%,rgba(254,254,254,1)));
				background: -webkit-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(254,254,254,1) 100%);
				background: -o-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(254,254,254,1) 100%);
				background: -ms-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(254,254,254,1) 100%);
				background: linear-gradient(to bottom,  rgba(251,251,251,1) 0%,rgba(254,254,254,1) 100%);
				span {
					text-indent: -5000px;
					display: inline-block;
					width: 20px;
					height: 15px;
					&.before {
						background: url(../img/bl-before-bg.png) no-repeat;
						margin-right: 8px;
					}
					&.after {
						background: url(../img/bl-after-bg.png) no-repeat;
						margin-left: 8px;
					}
				}
			}
			&:after {
				content: ".";
				display: block;
				text-indent: -5000px;
				position: absolute;
				bottom: -16px;
				left: 21px;
				width: 15px;
				height: 16px;
				background: url(../img/testimon-after.gif) no-repeat;
			}
			& + p {
				padding-left: 45px;
				margin-bottom: 18px;
			}
		}
		p.bottom-indent {
			margin-bottom: 18px;
		}
		#admin-action-cms{
			background: none repeat 0 0 #F6F6F6;
			border: 1px solid #d2d0d0;
			padding: 10px;
			p{
				margin: 0;
				span{
					display: block;
					padding-bottom: 10px;
					font-size: 14px;
					font-weight: bold;
					color: $product-price-color;
				}
				.button{
					font: 700 17px/21px $font-family;
					padding: 0;
					border: 1px solid;
					padding: 10px 14px;
					display: inline-block;
					&.publish_button{
						color: $button-text-color;
						text-shadow: 1px 1px rgba(0,0,0,0.2);
						border-color: #0079b6 #006fa8 #012740 #006fa8;
						background: rgb(0,154,208);
						background: -moz-linear-gradient(top, rgba(0,154,208,1) 0%, rgba(0,122,183,1) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,154,208,1)), color-stop(100%,rgba(0,122,183,1)));
						background: -webkit-linear-gradient(top, rgba(0,154,208,1) 0%,rgba(0,122,183,1) 100%);
						background: -o-linear-gradient(top, rgba(0,154,208,1) 0%,rgba(0,122,183,1) 100%);
						background: -ms-linear-gradient(top, rgba(0,154,208,1) 0%,rgba(0,122,183,1) 100%);
						background: linear-gradient(to bottom, rgba(0,154,208,1) 0%,rgba(0,122,183,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0);
						&:hover{
							border-color: #01314e #004b74 #0079b6 #004b74;
							filter: none;
							background: #0084bf;
						}
					}
					&.lnk_view{
						color: $base-text-color;
						text-shadow: 1px 1px rgba(255,255,255,1);
						border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
						background: rgb(247,247,247);
						background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(237,237,237,1)));
						background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%);
						background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%);
						background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%);
						background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0);
						&:hover{
							border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
							filter: none;
							background: #e7e7e7;
						}
					}
				}
			}
		}
		/* color_tooltip */
		#color_tooltip{
			position:absolute;
			background:#fff;
			padding:1px;
			border:2px solid #333;
			display:none;
			color:#fff;
			box-shadow:0 0 5px #333;
			img{
				display:block
			}
		}
		.color_con ul{
			overflow: hidden;
			li{
				float:left;
				width:20%;
			}
		}
		/*============  Cms coupons   ================*/
		.coupons-offer{
		  min-height: 120px;
		  margin: 4px -18px 0 -8px;
		  position: relative;
		  border: 1px solid #D9D9D6;
		  border-radius: 3px;
		  background-color: #FFF;
		  color: #333;
		}
		.offer-top {
		  padding: 18px 18px 18px 8px;
		}
		.anchor {
		  display: block;
		  float: left;
		  margin-right: 3.15789%;
		  width: 11.57895%;
		  text-align: center;
		}
		.anchor-image {
		  float: right;
		  height: 72px;
		  width: 72px;
		  color: #FFF;
		  font-size: 14px;
		  font-weight: 500;
		  padding-top: 40px;
		  border: 1px solid;
		  border-radius: 6px 6px 0 0;
		  position: relative;
		  text-transform: uppercase;
		  color: #EF3386;
		  border-color: #EF3386;
		}
		.anchor-image.no-image {
		  padding-top: 12px;
		  line-height: 18px;
		}
		.anchor-big-text {
		  font-size: 24px;
		  font-weight: 700;
		  line-height: 1;
		}
		.anchor-med-text {
		  font-size: 20px;
		  display: block;
		  line-height: 1;
		}
		.additional-anchor {
		  line-height: 1.3;
		  width: 72px;
		  border: 1px solid;
		  border-top: 0;
		  color: #FFF;
		  font-size: 14px;
		  font-weight: 500;
		  border-radius: 0 0 4px 4px;
		  padding: 3px 6px;
		  background-color: #EF3386;
		  border-color: #EF3386;
		  float: right;
		}
		.js-info {
		  display: block;
		  float: left;
		  margin-right: 3.15789%;
		  width: 61%;
		  word-wrap: break-word;
		  position: relative;
		  font-size: 14px;
		  color: #666;
		}
		.h1.title {
		  font-weight: 400;
		  font-size: 24px;
		  margin-bottom: 4px;
		  margin-top: 4px;
		  color: #333;
		  font-weight: 700;
		}
		.js-desc{
		  line-height: 22px;
		  font-size: 14px;
		  color: #666;
		}
		.actions {
		  display: block;
		  float: left;
		  margin-right: 3.15789%;
		  width: 17%;
		  margin-right: 0;
		  margin-top: 30px;
		}
		.code-cover {
		  width: 122px;
		  height: 36px;
		  font-weight: bold;
		  color: #FFF;
		  background: #08B4DF;
		  text-decoration: none;
		  line-height: 2.8;
		  white-space: nowrap;
		  text-align: center;
		  display: block;
		  font-size: 13px;
		  border-radius: 3px;
		  border: 0;
		}
		.code-cover:hover{
		  color:#fff;
		  background: #1CC2EC;
		  text-decoration: none;
		}
	}
}