@import "compass";
@import "theme_variables";

/********************************************************
			One-Page Checkout Styles
********************************************************/

#order-opc {
	line-height: 20px;
	.breadcrumb{display: none;}
	.box {
		padding-bottom: 20px;
	}
	.cart_navigation {
		margin-bottom: 53px;
	}
	.form-group {
		margin-bottom: 2px;
			.form-control {
				max-width: 350px;
				margin-right: 5px;
			}
			span{
				display: inline-block;
				color:#999;
			}
	}
	.lost_password {
		display: inline-block;
		text-decoration: underline;
		margin: 5px 0 14px;
		&:hover {
			text-decoration: none;
		}
	}
	.delivery_options_address td:nth-child(2){width:150px}
	.order-advisory {
		font-size: 14px;
		a{
			border-bottom: 1px solid #24325e;
			color: #24325e;
		}
	}
	.title_block {
		font-weight: bold;
		color: $base-text-color;
		padding: 3px 0 6px;
	}
	.opc-button {
		padding: 11px 0 0 0;
	}
	ul.bullet {
		line-height: 22px;
		margin-bottom: 5px;
	}
	.date-select {
		padding-bottom: 10px;
	}
	.opc-add-save {
		border-top: 1px solid $base-border-color;
		margin-top: 20px;
		padding-top: 20px;
	}
	#message {
		margin-bottom: 35px;
	}
	#opc_payment_methods {
		margin-bottom: 30px;
		p.warning{
			color: #E0287D;
			font-weight: 700;
		}
	}
	#opc_account {
		margin-bottom: 30px;
	}
	.address_delivery.select {
		margin-bottom: 15px;
	}
	#address_invoice_form.form-group {
		margin-bottom: 30px;
	}
	.order-price-box .price{
		text-align: right;
	}
	#click_authorizeaim{
		display: block;
		text-decoration: none;
		font-weight: bold;
		margin-bottom:30px;
		line-height: 60px;
	}
	.select_payment{
		&:before {
		    font-family: $font-icon;
		    content: "\f00c";
		    font-size: 1.8em;
		    padding-right: 15px;
		    color: #CCC;
		    float: left;
		    margin-top: 23px;
		}
		&.selected_click {
		    border-color: #A3A3A3;
		    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
		    cursor: default;
		    &:before {
		        color: #57AE39;
		    }
		}
	}
}
#custom_points{
	.form-control{
		width: 200px;
		margin-right: 11px;
	}
}
#new_account_form .id_state,
#new_account_form .dni,
#new_account_form .postcode {
	display: none;
}