/********************************************************
			One-Page Checkout Styles
********************************************************/
#order-opc {
  line-height: 20px; }
  #order-opc .box {
    margin: 0;
    padding: 0 10px 20px; }
  #order-opc .cart_navigation {
    margin-bottom: 53px; }
  #order-opc .opc-main-block {
    background: #fff; }
  #order-opc .page-heading.step-num {
    position: relative;
    padding: 10px;
    overflow: visible; }
  #order-opc .form-group {
    margin-bottom: 2px; }
  #order-opc .delivery_options label {
    display: block;
    margin-bottom: 0; }
    #order-opc .delivery_options label .table {
      margin-bottom: 0; }
  #order-opc .delivery_options_address td:nth-child(2) {
    width: 100px; }
  #order-opc .lost_password {
    display: inline-block;
    text-decoration: underline;
    margin: 5px 0 14px; }
    #order-opc .lost_password:hover {
      text-decoration: none; }
  #order-opc .title_block {
    font-weight: bold;
    color: #333;
    padding: 3px 0 6px; }
  #order-opc .opc-button {
    padding: 11px 0 0 0; }
  #order-opc ul.bullet {
    line-height: 22px;
    margin-bottom: 5px; }
  #order-opc .date-select {
    padding-bottom: 10px; }
  #order-opc .opc-add-save {
    border-top: 1px solid #d6d4d4;
    margin-top: 20px;
    padding-top: 20px; }
  #order-opc #message {
    margin-top: 15px; }
  #order-opc #opc_payment_methods {
    margin-bottom: 30px; }
    #order-opc #opc_payment_methods p.warning {
      color: #F13340;
      font-weight: 700; }
  #order-opc #opc_account {
    position: relative; }
    #order-opc #opc_account #shopping_address_add {
      position: absolute;
      right: 0;
      top: 0; }
      #order-opc #opc_account #shopping_address_add a {
        display: block;
        font-weight: bold;
        padding: 11px 12px;
        color: #222;
        border: 0; }
        #order-opc #opc_account #shopping_address_add a span {
          padding: 0;
          display: inline; }
        #order-opc #opc_account #shopping_address_add a i {
          font-size: 1.4em;
          color: #d32676; }
  #order-opc .address_delivery.select {
    margin-bottom: 15px; }
  #order-opc #address_invoice_form.form-group {
    margin-bottom: 30px; }
  #order-opc #click_authorizeaim {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 60px; }
  #order-opc .select_payment {
    cursor: pointer; }
    #order-opc .select_payment:before {
      font-family: "iconfont";
      content: "\e62a";
      font-size: 1.8em;
      padding-right: 15px;
      color: #CCC;
      float: left;
      margin-top: 23px;
      font-weight: bold; }
    #order-opc .select_payment.selected_click {
      border: 1px solid #a3a3a3;
      cursor: default; }
      #order-opc .select_payment.selected_click:before {
        color: #57AE39; }
  #order-opc #opc_new_account .register_login {
    overflow: hidden;
    padding: 10px 5px; }
    #order-opc #opc_new_account .register_login .uk-button {
      width: 46%;
      float: left;
      margin: 0 5px; }
  #order-opc .order-price-box {
    background: #fff;
    position: fixed;
    bottom: 0;
    margin: 0;
    z-index: 1000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); }
    #order-opc .order-price-box .order-total {
      padding: 15px;
      cursor: pointer; }
      #order-opc .order-price-box .order-total dd:after {
        content: "\e611";
        font-family: "iconfont";
        color: #d32676;
        position: absolute;
        padding-left: 15px;
        font-weight: bold; }
      #order-opc .order-price-box .order-total.order-total-hover dd:after {
        content: "\e612"; }
    #order-opc .order-price-box .order-price-list dl {
      padding: 15px 15px 0;
      position: relative; }
    #order-opc .order-price-box dl {
      overflow: hidden;
      margin: 0; }
      #order-opc .order-price-box dl dt {
        float: left; }
      #order-opc .order-price-box dl dd {
        float: right;
        text-align: right;
        padding-right: 30px; }
  #order-opc .addresses .address {
    position: relative; }
    #order-opc .addresses .address li {
      padding: 2px 0; }
    #order-opc .addresses .address a.button.button-small {
      position: absolute;
      right: 0;
      top: 7px;
      padding: 10px 0;
      border: 0;
      margin: 0; }
      #order-opc .addresses .address a.button.button-small i {
        font-size: 1.3em;
        color: #d32676; }
        #order-opc .addresses .address a.button.button-small i:after {
          font-family: "iconfont";
          content: "\e62b"; }

#new_account_form .box {
  line-height: 20px;
  margin: 0; }
  #new_account_form .box .date-select {
    padding-bottom: 10px; }
  #new_account_form .box .top-indent {
    padding-top: 10px; }
  #new_account_form .box .customerprivacy {
    padding-top: 15px; }

#opc_new_account .register_login {
  overflow: hidden;
  padding: 10px 5px; }
  #opc_new_account .register_login .uk-button {
    width: 46%;
    float: left;
    margin: 0 5px; }
  #opc_new_account .register_login .uk-active .uk-button {
    background-color: #fff;
    color: #d32676;
    border-color: #d32676; }

#backup_a,
.fix_nav {
  display: none; }

#new_account_form .id_state,
#new_account_form .dni,
#new_account_form .postcode {
  display: none; }

.empty {
  text-align: center;
  margin-top: 10px; }
  .empty .text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px; }

/*# sourceMappingURL=order-opc.css.map */
