/* product desc */
#product #search_block_top {
  display: none; }

/* primary_block ***************************************************************************** */
.top-hr {
  background: #C4C4C4;
  height: 5px;
  margin: 2px 0 31px; }

.product-heading-h5 {
  color: #999999;
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Open Sans", sans-serif; }

.box-security .product-heading-h5 {
  margin: 3px 0 -8px; }
  @media (max-width: 1199px) {
    .box-security .product-heading-h5 {
      margin-bottom: 8px; } }

.primary_block .pb-left-column img {
  max-width: 100%;
  height: auto; }

a.fancybox-nav {
  outline: 0; }

#tab-content {
  background-color: #f4f4f4;
  padding-top: 15px; }

.uk-tab {
  background-color: #fff; }

/* .pb-left-column ***************************************************************************** */
.pb-left-column .touchcarousel {
  position: relative;
  overflow: hidden; }
  .pb-left-column .touchcarousel .touchcarousel-container {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    left: 0; }
    .pb-left-column .touchcarousel .touchcarousel-container img {
      display: block;
      margin: 0 auto;
      width: 100%; }
  .pb-left-column .touchcarousel .touchcarousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; }
  .pb-left-column .touchcarousel .touchcarousel-item {
    margin: 0 0 0 0;
    padding: 0;
    float: left; }
    .pb-left-column .touchcarousel .touchcarousel-item.last {
      margin-right: 0 !important; }
  .pb-left-column .touchcarousel .arrow-holder {
    height: 100%;
    width: 45px;
    position: absolute;
    top: 0;
    display: block;
    cursor: pointer;
    z-index: 25;
    display: none; }
    .pb-left-column .touchcarousel .arrow-holder.left {
      left: 0; }
    .pb-left-column .touchcarousel .arrow-holder.right {
      right: 0; }
  .pb-left-column .touchcarousel .arrow-icon {
    width: 45px;
    height: 90px;
    top: 50%;
    margin-top: -45px;
    position: absolute;
    cursor: pointer; }
  .pb-left-column .touchcarousel .arrow-holder.disabled {
    cursor: default; }
    .pb-left-column .touchcarousel .arrow-holder.disabled .arrow-icon {
      cursor: default; }
  .pb-left-column .touchcarousel .tc-paging-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    margin-top: -20px;
    z-index: 2; }
  .pb-left-column .touchcarousel .tc-paging-centerer {
    float: left;
    position: relative;
    left: 50%; }
  .pb-left-column .touchcarousel .tc-paging-centerer-inside {
    float: left;
    position: relative;
    left: -50%; }
  .pb-left-column .touchcarousel .tc-paging-item {
    float: left;
    cursor: pointer;
    position: relative;
    display: block;
    text-indent: -9999px; }
.pb-left-column #carousel .tc-paging-container {
  margin-top: -17px; }
.pb-left-column #carousel .tc-paging-item {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #704d43;
  margin-right: 5px; }
.pb-left-column #carousel .tc-paging-item.current {
  background-color: #ed6d00; }
.pb-left-column .goods_img {
  position: relative; }
  .pb-left-column .goods_img .touchcarousel .touchcarousel-item {
    margin-left: 0; }
    .pb-left-column .goods_img .touchcarousel .touchcarousel-item img {
      width: 100%; }
  .pb-left-column .goods_img .goods_num {
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff; }

/* miniatures */
.pb-left-column #views_block {
  width: 100%;
  margin: 0 auto; }

#thumbs_list {
  overflow: hidden;
  float: left;
  width: 392px; }
  #thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    height: 90px;
    margin-bottom: 0;
    margin-top: 8px; }
  #thumbs_list li {
    float: left;
    height: 89px;
    width: 78px;
    cursor: pointer;
    border: 1px solid #dbdbdb;
    margin-right: 8px;
    line-height: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    #thumbs_list li a {
      display: block;
      border: 3px solid #fff;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #fbfbfb; }
      #thumbs_list li a:hover, #thumbs_list li a.shown {
        border-color: #dbdbdb; }
    #thumbs_list li img {
      border: 1px solid #fff;
      width: 100%;
      height: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }

.show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list {
  width: 80%; }

span.view_scroll_spacer {
  float: left;
  width: 39px;
  padding-left: 12px; }

.show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer {
  width: 27px;
  padding-left: 2px; }

#view_scroll_left,
#view_scroll_right {
  margin-top: 38px;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  overflow: hidden; }
  @media (min-width: 768px) and (max-width: 991px) {
    #view_scroll_left,
    #view_scroll_right {
      margin-top: 28px; } }
  #view_scroll_left:before,
  #view_scroll_right:before {
    padding-left: 2px;
    color: #c0c0c0;
    font-family: "iconfont";
    font-size: 20px;
    line-height: 22px; }
  #view_scroll_left:hover:before,
  #view_scroll_right:hover:before {
    color: #333; }

#view_scroll_right {
  float: left; }
  #view_scroll_right:before {
    content: "\e610"; }

#view_scroll_left {
  margin-top: 0; }
  #view_scroll_left:before {
    content: "\e60f";
    padding-right: 2px; }

.resetimg {
  padding: 10px 0 0; }
  .resetimg #resetImages i {
    margin-right: 6px; }

.view_scroll_spacer {
  margin-top: 38px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .view_scroll_spacer {
      margin-top: 28px; } }

/* pb-left-column ****************************************************************************** */
.pb-center-column, .pb-right-column {
  background-color: #fff;
  margin-bottom: 14px;
  padding: 10px 0; }
  .pb-center-column h1, .pb-right-column h1 {
    padding: 10px;
    margin: 0;
    font-size: 1.2em;
    color: #3a3939;
    text-align: center;
    line-height: 1.4; }
  .pb-center-column p, .pb-right-column p {
    margin-bottom: 10px; }
  .pb-center-column .sale em, .pb-right-column .sale em {
    font-style: italic;
    font-size: 14px;
    color: #E0287D; }
    .pb-center-column .sale em span, .pb-right-column .sale em span {
      font-size: 12px;
      color: #999; }
  .pb-center-column .product-sku li, .pb-right-column .product-sku li {
    display: inline-block;
    padding: 0 35px 0 0; }
  .pb-center-column .like-number:before, .pb-right-column .like-number:before {
    font-family: "iconfont";
    content: "\f004";
    padding-right: 5px; }
  .pb-center-column #product_reference, .pb-right-column #product_reference {
    margin-bottom: 6px; }
  .pb-center-column #short_description_block, .pb-right-column #short_description_block {
    color: #666; }
    .pb-center-column #short_description_block .buttons_bottom_block, .pb-right-column #short_description_block .buttons_bottom_block {
      display: none; }
    .pb-center-column #short_description_block #short_description_content, .pb-right-column #short_description_block #short_description_content {
      padding: 0 0 15px;
      word-wrap: break-word; }
      .pb-center-column #short_description_block #short_description_content p, .pb-right-column #short_description_block #short_description_content p {
        line-height: 18px; }

/* pb-right-column ****************************************************************************** */
.pb-right-column {
  /* form */ }
  .pb-right-column #buy_block label {
    display: inline-block;
    width: 30%;
    font-weight: 700;
    font-size: 12px;
    vertical-align: top; }
    .pb-right-column #buy_block label.color_label {
      width: 100%; }
      .pb-right-column #buy_block label.color_label .option_result {
        color: #999; }
  .pb-right-column #buy_block .jump_options a {
    display: inline-block;
    position: relative;
    border: 1px solid #CCC;
    height: 30px;
    text-align: center;
    line-height: 28px;
    padding: 0 10px;
    margin-right: 10px;
    margin-bottom: 10px; }
    .pb-right-column #buy_block .jump_options a:hover, .pb-right-column #buy_block .jump_options a.current {
      border-color: #d32676;
      color: #d32676; }
  .pb-right-column #buy_block .jump_options label {
    vertical-align: top;
    display: block;
    width: 100%; }
  .pb-right-column #buy_block p.price {
    padding: 0; }
  .pb-right-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700; }

#product p#loyalty {
  padding: 0;
  margin: 10px 0 -5px;
  position: relative;
  text-align: center; }
  #product p#loyalty b {
    color: #333; }
  #product p#loyalty:before {
    content: "\e624";
    font-family: "iconfont";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    padding-right: 10px; }

#page .rte {
  padding: 0 20px 20px;
  word-wrap: break-word; }
  #page .rte p {
    margin-bottom: 1em;
    min-height: 1px; }

#attributes fieldset {
  padding-bottom: 10px; }
  #attributes fieldset label {
    display: inline-block; }
#attributes .attribute_list {
  width: 68%;
  display: inline-block; }
  #attributes .attribute_list.attribute_list_color {
    width: 100%;
    border-bottom: 1px solid #eee; }
  #attributes .attribute_list .form-control option {
    background: #fff;
    color: #666; }
  #attributes .attribute_list ul {
    clear: both; }
    #attributes .attribute_list ul li {
      float: left;
      margin-right: 10px; }
  #attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px; }
  #attributes .attribute_list div.radio,
  #attributes .attribute_list div.radio span,
  #attributes .attribute_list div.radio input {
    float: none;
    display: inline-block; }
  #attributes .attribute_list #color_to_pick_list {
    list-style-type: none; }
    #attributes .attribute_list #color_to_pick_list li {
      float: left;
      margin: 0 8px 8px 0;
      padding: 1px;
      border: 1px solid #d6d4d4;
      clear: none;
      width: 40px;
      height: 40px; }
      #attributes .attribute_list #color_to_pick_list li a.color_pick {
        display: block;
        height: 36px;
        width: 36px;
        cursor: pointer; }
        #attributes .attribute_list #color_to_pick_list li a.color_pick img {
          display: block;
          height: 36px;
          width: 36px; }
      #attributes .attribute_list #color_to_pick_list li.selected {
        border: 1px solid #4d4d4d; }

#customizationForm-box .custom_options_box {
  overflow: hidden;
  height: 0;
  position: relative;
  padding: 0;
  border: 0; }
  #customizationForm-box .custom_options_box.custom_options_box_primary {
    height: auto;
    position: relative;
    border-bottom: 1px solid #eee; }
  #customizationForm-box .custom_options_box li {
    position: relative; }
#customizationForm-box .custom_options_a {
  font-size: 1.1em;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #DDD;
  margin-bottom: 10px;
  color: #d32676;
  text-decoration: none; }
  #customizationForm-box .custom_options_a:after {
    content: "\e608";
    font-family: "iconfont";
    padding-left: 30px; }
  #customizationForm-box .custom_options_a.over {
    border-bottom: 1px solid #d32676; }
    #customizationForm-box .custom_options_a.over:after {
      content: "\f068"; }
#customizationForm-box li .form-control {
  max-width: 280px; }

.product_attributes,
.box-cart-bottom {
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  padding: 15px; }

.box-cart-bottom {
  padding: 15px 10px 0; }
  .box-cart-bottom li {
    width: 100%; }

#short_description_content a,
.page-product-box .rte a {
  color: #333333;
  text-decoration: underline; }
#short_description_content a.btn,
.page-product-box .rte a.btn {
  text-decoration: none; }

.box-info-product {
  background: #fff; }
  .box-info-product p {
    margin-bottom: 7px; }
  .box-info-product .exclusive {
    width: 100%;
    padding: 0;
    position: relative;
    display: block;
    background-color: #e0287d;
    border: 3px solid transparent;
    color: #fff; }
    .box-info-product .exclusive:before {
      font-family: "iconfont";
      position: absolute;
      top: -1px;
      left: 20%;
      bottom: 0;
      font-size: 25px;
      line-height: 47px;
      content: "\e61c";
      z-index: 2;
      width: 51px;
      text-align: center; }
    .box-info-product .exclusive.added:before {
      content: "\e62a"; }
    .box-info-product .exclusive.added.disabled:before, .box-info-product .exclusive.disabled:before {
      height: 51px;
      content: "\e61c";
      animation: 2s linear 0s normal none infinite spin;
      -webkit-animation: 2s linear 0s normal none infinite spin;
      -moz-animation: 2s linear 0s normal none infinite spin;
      border: none; }
    .box-info-product .exclusive:after {
      background: url(../img/border-1.gif) repeat-y 0 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 51px;
      content: "";
      width: 1px;
      z-index: 2; }
      @media (max-width: 991px) {
        .box-info-product .exclusive:after {
          display: none; } }
    .box-info-product .exclusive span {
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      padding: 12px 20px 12px 50px;
      display: block !important;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .box-info-product .exclusive:hover {
      background-color: #fff;
      border-color: #e0287d;
      color: #e0287d; }

#center_column.col-sm-9 .col-md-3 .box-info-product {
  background: #f6f6f6;
  border: 1px solid #d2d0d0;
  border-top: 1px solid #b0afaf;
  border-bottom: 1px solid #b0afaf; }
  #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWFkMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwN2FiNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background-image: -moz-linear-gradient(#009ad0, #007ab7);
    background-image: -webkit-linear-gradient(#009ad0, #007ab7);
    background-image: linear-gradient(#009ad0, #007ab7);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 ); }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
      font-family: "iconfont";
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      color: #fff;
      font-size: 25px;
      line-height: 47px;
      text-shadow: 0 1px #015883;
      content: "\f07a";
      z-index: 2;
      width: 51px;
      text-align: center;
      border: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
          display: none; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added:before {
      content: "\f00c"; }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added.disabled:before, #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.disabled:before {
      content: "\f110";
      animation: 2s linear 0s normal none infinite spin;
      -webkit-animation: 2s linear 0s normal none infinite spin;
      -moz-animation: 2s linear 0s normal none infinite spin;
      border: none; }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
      background: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 51px;
      content: "";
      width: 1px;
      z-index: 2; }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
          display: none; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      border: none;
      border-top: 1px solid #006fa8;
      text-shadow: 0 1px #015883;
      padding: 12px 16px 14px;
      color: #fff;
      display: block !important;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 1199px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
          font-size: 16px; } }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
          padding: 8px 12px 10px;
          text-align: center; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwN2FiNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWFkMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
      background-image: -moz-linear-gradient(#007ab7, #009ad0);
      background-image: -webkit-linear-gradient(#007ab7, #009ad0);
      background-image: linear-gradient(#007ab7, #009ad0);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
      background-position: 0 0; }

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #d6d4d4;
  width: 100%;
  margin: 0 0 20px;
  background: #fff; }
  .table-data-sheet tr {
    border-top: 1px solid #d6d4d4; }
    .table-data-sheet tr.even {
      background: #fdfdfd; }
    .table-data-sheet tr td {
      padding: 10px 20px 11px; }
      .table-data-sheet tr td:first-child {
        border-right: 1px solid #d6d4d4;
        width: 30%;
        font-weight: 700;
        color: #333; }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #d6d4d4;
  border-right: 1px solid #d6d4d4;
  width: 50%;
  margin: 0 0 20px;
  background: #fff; }
  @media (max-width: 767px) {
    table.table-product-discounts {
      width: 100%; } }
  table.table-product-discounts tr th {
    background: #fff;
    color: #333;
    font-weight: 700;
    border: none;
    font-weight: 700; }
  table.table-product-discounts tr td,
  table.table-product-discounts tr th {
    border-left: 1px solid #d6d4d4;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #d6d4d4;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none; }

/* accessories  */
.accessories-block .block_description {
  display: none; }
.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  .accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
    text-decoration: none; }
.accessories-block .product-name {
  margin-bottom: 5px; }
  .accessories-block .product-name a {
    font-size: 15px;
    line-height: 18px;
    color: #3a3939; }
    .accessories-block .product-name a:hover {
      color: #515151; }
.accessories-block div ul li a {
  display: inline-block; }
.accessories-block div ul li.s_title_block a,
.accessories-block div ul li.s_title_block span {
  font-weight: 700; }

/* quantity_wanted */
#quantity_wanted_p input {
  width: 78px;
  height: 36px;
  padding: 0 6px;
  border: 1px solid #d6d4d4; }
#quantity_wanted_p .btn {
  display: inline-block;
  margin-left: 3px;
  line-height: 33px; }
#quantity_wanted_p label {
  display: block;
  margin-bottom: 7px; }

/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right; }

#quantityAvailable {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700; }

#availability_value,
#last_quantities {
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  padding: 3px 8px 4px;
  margin-left: 5px; }

#last_quantities {
  background: #fe9126;
  border: 1px solid #e4752b;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px;
  margin-left: 0px; }

#availability_statut {
  display: inline-block; }

/* box-security */
.box-security {
  border-top: 1px solid #dfdede;
  padding: 19px 19px 6px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fbfbfb));
  background-image: -moz-linear-gradient(#ffffff, #fbfbfb);
  background-image: -webkit-linear-gradient(#ffffff, #fbfbfb);
  background-image: linear-gradient(#ffffff, #fbfbfb);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fbfbfb',GradientType=0 ); }

/* prices */
.content_prices {
  padding: 2px 10px; }

.discount {
  display: none; }

.our_price_display {
  font-size: 29px;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 28px; }
  .our_price_display .now_sprice {
    font-size: 20px;
    line-height: 30px;
    color: #333; }

#old_price {
  font-size: 13px;
  text-decoration: line-through;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
  padding-left: 5px; }

#reduction_percent,
#reduction_amount {
  margin-right: 10px;
  padding: 1px 2px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  line-height: 23px;
  color: #fff;
  background: #f13340;
  border: 1px solid #d02a2c; }
  #reduction_percent span,
  #reduction_amount span {
    display: block; }
  .hide-left-column.hide-right-column #reduction_percent, .hide-left-column.hide-right-column
  #reduction_amount {
    display: inline-block; }

/* online_only */
.pb-center-column p.online_only, .pb-right-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left; }

.buttons_bottom_block #wishlist_button {
  font-weight: 700; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  width: 555px;
  overflow: hidden; }
  @media (max-width: 767px) {
    #send_friend_form {
      width: 280px; } }
  #send_friend_form .product img {
    margin: 0 0 10px 0;
    border: 1px solid #d6d4d4; }
  #send_friend_form .product p {
    padding: 0;
    color: #333; }
    #send_friend_form .product p .product_name {
      font-size: 12px;
      color: #000; }
  #send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #d6d4d4;
    background: #fbfbfb; }
    #send_friend_form .form_container p.intro_form {
      padding-bottom: 6px;
      font-weight: 700;
      font-size: 13px;
      color: #333; }
    #send_friend_form .form_container p.txt_required {
      padding-bottom: 0;
      color: #666; }
    #send_friend_form .form_container .text {
      padding-bottom: 10px; }
      #send_friend_form .form_container .text label {
        display: block;
        padding: 0;
        width: 100%;
        font-size: 12px; }
      #send_friend_form .form_container .text input {
        padding: 0 5px;
        height: 22px;
        width: 100%;
        border: 1px solid #d6d4d4;
        font-size: 12px;
        color: #666; }
  #send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right; }

/* Customer Photo ##################################################################### */
/* review */
.video a {
  display: block;
  width: 100%;
  text-align: center;
  margin: 15px 0; }

.video a span {
  font-size: 4em;
  display: inline-block;
  color: #EF3386; }

.photo_reviews {
  overflow: hidden;
  margin-bottom: 15px; }

.photo_reviews a {
  float: left;
  width: 33.333333%;
  padding: 5px; }

.photo_reviews a img {
  max-width: 100%; }

.reviews {
  position: relative; }

.reviews h2,
.shows h2 {
  line-height: 20px;
  padding-top: 5px;
  font-size: 14px;
  padding-left: 10px; }

.reviews h2 {
  margin-top: 20px; }

.reviews .icon_write {
  position: absolute;
  top: -2px;
  right: 15px; }

.comments_container {
  background-color: #f5f5f5; }

.comments_container dd {
  padding: 14px 10px;
  background: #FFF;
  margin-bottom: 14px; }

.comments_container .stars {
  color: #333;
  font-size: 1.8rem;
  float: left; }

.comments_container .info {
  float: right;
  color: #909090;
  margin-top: 3px; }

.comments_container .name {
  color: #909090; }

.view_more a {
  display: block;
  padding: 12px;
  background: #FFF;
  color: #EF3386;
  text-transform: uppercase;
  position: relative; }

.view_more a:hover {
  background: #eee; }

.view_more a::after {
  content: "\e610";
  display: inline-block;
  font-family: "iconfont";
  position: absolute;
  right: 6px;
  top: 26%;
  font-size: 1.4em;
  color: #EF3386; }

.reviews dd.control {
  margin-bottom: 10px; }

.reviews dt.title {
  line-height: 16px;
  line-height: 40px; }

.reviews dd p.info {
  color: #999999; }

.reviews dd p {
  padding: 5px 0; }

.reviews dd p.content {
  line-height: 18px;
  letter-spacing: 0.2px; }

.reviews dd .img_list img {
  max-width: 100px;
  max-height: 75px; }

.reviews dd .img_list li {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px; }

.reviews dd .img_list {
  margin-bottom: 10px; }

.reviews .isort {
  padding: 10px; }

.reviews .isort a, .reviews .isort strong {
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  padding: 5px 10px; }

.reviews .isort a {
  border: 1px solid #e4e4e4;
  background: #FFF; }

.reviews .isort a:active {
  background: #f7f7f7; }

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px; }

ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d4d4; }

.customizationUploadLine {
  padding-bottom: 10px; }
  .customizationUploadLine label {
    display: block;
    vertical-align: top; }
  .customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #d6d4d4;
    color: #777777; }

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px; }

#customizedDatas {
  float: right; }

/******************************************************************
Quick View Styles
******************************************************************/
/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link {
  background: #fff;
  border: 1px solid #d6d4d4; }
.ie8 .box-security {
  filter: none; }

/*# sourceMappingURL=product.css.map */
