@import "compass";
@import "theme_variables";
#search_block_top {
	float: left;
	margin-left:20px;
	@media (max-width: $screen-sm) {// max 768px
		margin-left:0;
		border-bottom: 1px solid #eee;
    	margin-bottom: 20px;
    	width:100%;
	}
	.button-search {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		width: 50px;
		height:100%;
		text-align: center;
		background: none;
		span {
			display: none;
		}
		&:before {
			content: "\f002";
			display: block;
			font-family: $font-icon;
			font-size: 20px;
			width: 100%;
			text-align: center;
		}
		&:hover {
			color: $link-hover-color;
			background: none;
		}
	}
	#search_query_top {
		display: inline;
		padding: 0 50px 0 13px;
		height: 40px;
		border: 0 none;
		font-size: 15px;
    	width: 260px;
    	background: #f4f4f4;
		&:focus{
			border-color:none;
			box-shadow:none
		}
	}
}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 271px;
	margin-top: -1px;
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;
		}
	}
}

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.button.button-small {
		float:left;
		i {
			margin-right:0;
		}
	}
}