/* basic body styles  */
.bodycopy {font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#333333;}
.bodycopy a {font-size:12px;color:#923414;}
.bodycopysm {font-size:11px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#333333;}
.bodycopysm a {font-size:11px;color:#923414; }
