@import "compass";
@import "theme_variables";
.header_user_info{
	float: right;
	a.login_a{
		display: block;
		padding: 8px 9px 11px 8px;
		cursor: pointer;
		line-height:18px;
		@media (max-width: $screen-xs - 1) {
			font-size: 11px;
		}
	}
	.uk-dropdown{
		li.top_sign{
			border-bottom: 1px solid #CCC;
			margin-bottom: .23076923em;
			padding: 8px 0;
    		text-align: center;
		}
		.sub-nav a {
		    display: block;
		    width: 100%;
		    padding:2px 10px;
		}
	}

}
.top_help{
	float: right;
	a#top_help{
		display: block;
		padding: 8px 9px 11px 8px;
		cursor: pointer;
		line-height:18px;
		&:hover, &.active {
			color:$link-hover-color;
		}
	}
	.uk-dropdown{
		right:0;
		left:auto;
		min-width: 460px;
		ul{
			float:left;
			width:50%;
		}
	}
}